<div class="container" style="background-color: gray; padding: 20px;">
    <div class="row">
        <div class="col-8">
            <a style="color: white; padding: 20px;" routerLink="/home">Home</a>
            <a style="color: white; padding: 20px;" routerLink="/projects">Projects</a>
            <a style="color: white; padding: 20px;" routerLink="/about">About</a>
        </div>
        <div class="external">
            <a href="https://github.com/Aditi-mi"> <i class="fab fa-github"
                    style="color: white; padding: 5px; font-size: 20px;"></i></a>
            <a href="https://www.linkedin.com/in/aditi-shrestha-4b2068139/"> <i class="fab fa-linkedin"
                    style="color: white; padding: 5px; font-size: 20px;"></i></a>
            <a href="mailto:aditi@moderninfluence.com"> <i class="fas fa-envelope"
                    style="color: white; padding: 5px; font-size: 20px;"></i></a>
        </div>
    </div>
</div>