<!-- <div class="container" style="text-align: center; background-color: #f1ae89; padding: 100px;">
    <h1>Hello!</h1>
    <h3>I am Aditi Shrestha.</h3>
</div> -->
<div class="hero">
    <div class="content">
        <p style="color: #d68060; font-weight: bold;">Hello Everyone! This is </p>
        <h1 style="font-size: 3em;">Aditi Shrestha</h1>
        <h1 style="color: gray;">I enjoy bringing creative ideas into reality for the web.</h1>
        <p class="p1">I'm a web developer based in Edmond, Oklahoma. I build websites, and applications. Lorem ipsum
            dolor sit
            amet
            consectetur adipisicing elit. Eaque molestiae, soluta
            autem nemo quae delectus quas? Excepturi.</p>
        <svg class="scroll stagger1" width="40" height="77" viewBox="0 0 40 77">
            <g id="scroll" transform="translate(-253 -787)">
                <g id="Rectangle_12" data-name="Rectangle 12" transform="translate(253 787)" fill="none" stroke="#fff"
                    stroke-width="4">
                    <rect width="40" height="77" rx="20" stroke="none" />
                    <rect x="2" y="2" width="36" height="73" rx="18" fill="none" />
                </g>
                <circle class="circle" id="Ellipse_1" data-name="Ellipse 1" cx="11" cy="11" r="11"
                    transform="translate(262 798)" fill="#fff" />
            </g>
        </svg>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="hero-design" width="690" height="317" viewBox="0 0 690 317">
        <g id="Group_1" data-name="Group 1" transform="translate(-1028 -313)">
            <path id="Polygon_1" data-name="Polygon 1" d="M81.5,0,163,105H0Z" transform="translate(1555 393)"
                fill="#fff" />
            <path id="Polygon_2" data-name="Polygon 2" d="M50,0l50,63H0Z" transform="translate(1332 468)"
                fill="#d68060" />
            <path id="Polygon_3" data-name="Polygon 3" d="M55.5,0,111,113H0Z" transform="translate(1486 517)"
                fill="#d68060" />
            <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="75.5" cy="77.5" rx="75.5" ry="77.5"
                transform="translate(1486 313)" fill="#dff3e3" />
            <ellipse id="Ellipse_2" data-name="Ellipse 2" cx="15" cy="19" rx="15" ry="19"
                transform="translate(1190 446)" fill="#fff" />
            <ellipse id="Ellipse_3" data-name="Ellipse 3" cx="19" cy="20" rx="19" ry="20"
                transform="translate(1167 590)" fill="#d68060" />
            <ellipse id="Ellipse_4" data-name="Ellipse 4" cx="27.5" cy="28" rx="27.5" ry="28"
                transform="translate(1420 574)" fill="#f1ae89" />
            <rect id="Rectangle_3" data-name="Rectangle 3" width="108" height="85" rx="25"
                transform="translate(1028 517)" fill="#dff3e3" />
            <rect id="Rectangle_4" data-name="Rectangle 4" width="156" height="120" rx="32"
                transform="translate(1304 313)" fill="#fff" />
        </g>
    </svg>
</div>
<section class="featured">
    <div class="left">
        <div class="inner transition2">
            <p class="subtitle">Featured Project</p>
            <a href="#" class="featured-title">Simple Stock Alert</a>

            <p class="featured-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, soluta
                autem nemo quae delectus quas? Excepturi.</p>
        </div>
    </div>
    <img class="right transition2" src="assets/images/featured.png" alt="Featured Project">
</section>

<section class="skills">
    <div class="skills-container">
        <ul>
            <li class="transition2">
                <div class="icon-container one">
                    <img src="images/icon-ux.svg" alt="UI/UX Icon">
                </div>
                <p class="skill-title">Applications</p>
                <p class="featured-desc skill-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Asperiores, odit?</p>
            </li>
            <li class="transition2">
                <div class="icon-container two">
                    <img src="images/icon-frontend.svg" alt="UI/UX Icon">
                </div>
                <p class="skill-title">Frontend Development</p>
                <p class="featured-desc skill-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Asperiores, odit?</p>
            </li>
            <li class="transition2">
                <div class="icon-container three">
                    <img src="images/icon-logo.svg" alt="UI/UX Icon">
                </div>
                <p class="skill-title">Languages</p>
                <p class="featured-desc skill-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Asperiores, odit?</p>
            </li>
        </ul>
    </div>
</section>
<section class="portfolio">

    <div class="portfolio-container transition3">
        <div class="portfolio-left">
            <div class="inner">
                <p class="subtitle">Website</p>

                <p class="featured-title">Broadcastelements.com</p>
                <p class="featured-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint,
                    molestias qui nihil accusamus praesentium vel tenetur quisquam quas rem.</p>
            </div>
        </div>
        <a href="https://broadcastelements.com/" target="_blank"><img src="assets/images/bce.png" alt="Fretastic"></a>
    </div>

    <div class="portfolio-container transition3">
        <div class="portfolio-left">
            <div class="inner">
                <p class="subtitle">Mobile App</p>

                <p class="featured-title">NephrosPCR</p>
                <p class="featured-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint,
                    molestias qui nihil accusamus praesentium vel tenetur quisquam quas rem.</p>
            </div>
        </div>
        <a href="#"><img src="assets/images/nephros.png" alt="Fretastic"></a>
    </div>

    <div class="portfolio-container transition3">
        <div class="portfolio-left">
            <div class="inner">
                <p class="subtitle">Website</p>

                <p class="featured-title">1Forge.com</p>
                <p class="featured-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint,
                    molestias qui nihil accusamus praesentium vel tenetur quisquam quas rem.</p>
            </div>
        </div>
        <a href="https://1forge.com/" target="_blank"><img src="assets/images/1forge.png" alt="Fretastic"></a>
    </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
    integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
    crossorigin="anonymous"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>

<script>
    gsap.registerPlugin(ScrollTrigger);
    var tl = gsap.timeline();

    tl.from('.content', {
        y: '-30%',
        opacity: 0,
        duration: 2,
        ease: Power4.easeOut
    })
    tl.from('.stagger1', {
        opacity: 0,
        y: -50,
        stagger: .3,
        ease: Power4.easeOut,
        duration: 2
    }, "-=1.5")
    tl.from('.hero-design', {
        opacity: 0, y: 50, ease: Power4.easeOut, duration: 1
    }, "-=2")

    gsap.from(".square-anim", {
        stagger: .2,
        scale: 0.1,
        duration: 1,
        ease: Back.easeOut.config(1.7)
    })

    gsap.from(".transition2", {
        scrollTrigger: {
            trigger: '.transition2',
            start: "top bottom"
        },
        y: 50,
        opacity: 0,
        duration: 1.2,
        stagger: .3
    })

    gsap.from(".transition3", {
        scrollTrigger: {
            trigger: ".transition3",
            start: "top center"
        },
        y: 50,
        opacity: 0,
        duration: 1.2,
        stagger: .6
    });
</script>